{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<div{attributes -> f:format.raw()}>
	<div class="comment-feed__comments">
		<f:if condition="{hasComments}">
			<f:then>
				{comments -> f:format.raw()}
			</f:then>
			<f:else>
				<p>No comments yet. Be the first to comment on this!</p>
			</f:else>
		</f:if>
	</div>
	<div class="comment-feed__form">
		<f:if condition="{closed}">
			<f:then>
				<p><em>Sorry, comments are closed.</em></p>
			</f:then>
			<f:else>
				{form -> f:format.raw()}
			</f:else>
		</f:if>
	</div>
</div>